{% extends 'base.html.twig' %}

{% block title %}Welcome To Hawkins{% endblock %}

{% block body %}
   <h1>Entrer le mot de passe</h1>

  <form method="post" action="{{ path('app_welcome') }}">
    <label for="password">Mot de passe :</label>
    <input id="password" name="password" type="password" required autofocus>
    <button name="pwd: ChambreDeWill" type="submit">Valider</button>
  </form>

   {% for message in app.flashes('error') %}
    <div style="color: red;">{{ message }}</div>
  {% endfor %}
  
   <p><a href="{{ path('app_gate_logout') }}">Reset</a></p>
{% endblock %}