{% extends 'base.html.twig' %}

{% block title %}Chambre{% endblock %}

{% block body %}
  <p>Bienvenue dans la chambre de Will</p>
  <p><a href="{{ path('app_gate_logout') }}">Reset</a></p>
{% endblock %}