<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Escape Game{% endblock %}</title>

        <!-- Police Stranger Things -->
        <style>

            body, html {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;git bran
                overflow: hidden;
                font-family: 'font1';
                background-color: black;
            }
            p{
                font-family: 'font1';
                font-weight: bold;
            }

            /* Overlay de transition */
            #transition-overlay {
                position: fixed;
                top: 0; left: 0;
                width: 100%; height: 100%;
                background-color: black;
                opacity: 0;
                pointer-events: none;
                transition: opacity 1s ease;
                z-index: 10000;
            }

            /* Messages fantômes */
            .ghost-message {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: white;
                font-size: 28px;
                text-align: center;
                text-shadow: 2px 2px 5px black;
                opacity: 1;
                transition: opacity 4s ease, transform 4s ease;
            }

            /* Indices */
            .indice-livre {
                color: white;
                font-size: 20px;
                text-shadow: 0 0 8px black;
                background-color: rgba(0,0,0,0.7);
                padding: 10px;
                border-radius: 5px;
                display: none;
                white-space: pre-line; /* pour aller à la ligne */
            }

            /* Liens reset */
            a {
                color: white;
                text-decoration: none;
            }
        </style>

{% block stylesheets %}
    {{ encore_entry_link_tags('app') }}
{% endblock %}
    </head>
    <body>
        <!-- Overlay transition -->
        <div id="transition-overlay"></div>

        <!-- Musique de fond -->
        <audio id="bg-music" src="/sounds/musique.mp3" autoplay loop></audio>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <script>
           
            // Fonction pour gérer la transition vers une nouvelle page
            function transitionTo(url) {
                const overlay = document.getElementById('transition-overlay');
                overlay.style.pointerEvents = 'auto';
                overlay.style.opacity = 1;
                setTimeout(() => {
                    window.location.href = url;
                }, 1000); // Durée de la transition
            }
        </script>
    </body>
</html>
